absl-py==2.1.0
altair==5.3.0
antlr4-python3-runtime==4.9.3
asttokens 
attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
black==24.3.0
bleach==6.1.0
blinker==1.7.0
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm 
contourpy==1.2.1
cycler==0.12.1
debugpy 
decorator 
defusedxml==0.7.1
detectron2  
docopt==0.6.2
exceptiongroup  
executing 
fastjsonschema==2.19.1
filelock==3.13.3
fonttools==4.50.0
fsspec==2024.3.1
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.62.1
hydra-core==1.3.2
idna==3.6
importlib_metadata  
iopath==0.1.9
ipykernel 
ipython==8.12.3
jedi 
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client 
jupyter_core 
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline 
mdurl==0.1.2
mistune==3.0.2
mpmath==1.3.0
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.3
nest_asyncio 
networkx==3.2.1
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
opencv-python==4.9.0.80
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
parso 
pathspec==0.12.1
pexpect 
pickleshare 
pillow==10.3.0
pipreqs==0.5.0
platformdirs 
portalocker==2.8.2
prompt-toolkit 
protobuf==4.25.3
psutil 
ptyprocess 
pure-eval 
pyarrow==15.0.2
pycocotools==2.0.7
pydeck==0.8.1b0
Pygments 
pyparsing==3.1.2
python-dateutil 
pytz==2024.1
PyYAML==5.1
pyzmq 
referencing==0.34.0
requests==2.31.0
rich==13.7.1
rpds-py==0.18.0
seaborn==0.13.2
setuptools==69.2.0
six 
smmap==5.0.1
soupsieve==2.5
stack-data 
streamlit==1.32.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
torch==2.2.2
torchvision==0.17.2
tornado 
tqdm==4.66.2
traitlets 
typing_extensions 
tzdata==2024.1
urllib3==2.2.1
watchdog==4.0.0
wcwidth 
webencodings==0.5.1
Werkzeug==3.0.2
wheel==0.43.0
yacs==0.1.8
yarg==0.1.9
zipp 